/* line-height: ; instead of using padding or margin */
nav {
    text-align: center;
}
.head-name {
    background-color: #141214;
    text-align: left;
    font-weight: bold;
    color: lightgray;
    line-height: 80px;
    font-size: 72px;
    padding-left: .5em;
}
.web-head {
    text-align: left;
    background-color: #141214;
    color: lightgray;
    line-height: 60px;
}
.name-link {
    text-decoration: none;
    color: lightgray;
}
.header {
    text-align: center;
}
div.about-me {
    text-align: center;
    position: relative;
    padding-left: 10em;
    padding-right: 10em;
}
div.album-cover {
    position: relative;
    right: auto;
}
.profile-picture {
    border-radius: 50%;
    border: 3px solid;
    width: 20%;
    margin: 15px;
}
#wrapper {
    text-align: center;
}
.button-one {
    position: relative;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button-one:hover {opacity: 1;}


.button-two {
    position: relative;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button-two:hover {opacity: 1;}


.button-three {
    position: relative;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button-three:hover {opacity: 1;}


/* Music.html styling */
.music {
    text-align: center;
}
.albums {
    text-align: center;
}
.album-art {
    animation: fadeIn 3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.services {
    width: 5%;
    margin-top: .5em;
}

/* Footer */
.contact-me {
    text-align: center;
    position: relative;
    background-color: #141214;
    color: lightgray;
}
#email {
    position: relative;
    width: 200px;
    height: auto;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#text {
    position: relative;
    width: 50%;
    height: 100px;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#submit {
    position: absolute;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: -40px;
}
#submit:hover {opacity: 1;}
